{% extends 'admin/base.html.twig' %}

{% form_theme form _self %}

{% block _job_logo_widget %}
    {% if form.vars.data %}
        <img class="media-object" style="width:100px; height:100px;" src="{{ asset(jobs_uploads_web_directory ~ '/' ~ form.vars.data.filename) }}">
    {% endif %}

    {{ form_widget(form) }}
{% endblock %}

{% block body %}
    <h1>Edit job</h1>

    {% include 'admin/job/form.html.twig' %}

    <a href="{{ path('admin.job.list') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        back to list
    </a>
{% endblock %}