{% extends 'admin/base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr class="active">
                <th>Company</th>
                <th>Position</th>
                <th>Location</th>
                <th>Email</th>
                <th>URL</th>
                <th>Activated</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.company }}</td>
                <td>{{ job.position }}</td>
                <td>{{ job.location }}</td>
                <td>{{ job.email }}</td>
                <td>{{ job.url }}</td>
                <td>
                    {% if job.activated %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                </td>
                <td class="text-nowrap">
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('admin.job.edit', {id: job.id}) }}" class="btn btn-default">Edit</a>
                        </li>

                        <li>
                            <form method="post" action="{{ path('admin.job.delete', {id: job.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="POST">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(jobs) }}
    </div>

    <a href="{{ path('admin.job.create') }}" class="btn btn-success">Create new</a>
{% endblock %}