<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Control Panel:</span>
        </div>

        <div class="collapse navbar-collapse">
            <a class="btn btn-default navbar-btn navbar-left" href="{{ path('job.edit', { 'token': job.token }) }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Edit
            </a>

            {{ form_start(deleteForm, {'attr': {'class': 'navbar-form navbar-left'}}) }}
            {{ form_widget(deleteForm) }}

            <button type="submit" class="btn btn-default" onclick="return confirm('Are you sure?')">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Delete
            </button>

            {{ form_end(deleteForm) }}

            {% if job.activated %}
                {% set daysToExpiring = job.expiresAt.diff(date())|date('%a') %}

                <p class="navbar-text ">
                    Expires in {{ daysToExpiring }} days
                </p>

                {% if daysToExpiring < 5 %}
                    <a class="btn btn-default navbar-btn" href="#">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        Extend (for another 30 days)
                    </a>
                {% endif %}
            {% else %}
                {{ form_start(publishForm, {'attr': {'class': 'navbar-form navbar-left'}}) }}
                {{ form_widget(publishForm) }}

                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Publish
                    </button>
                {{ form_end(publishForm) }}
            {% endif %}

            <p class="navbar-text navbar-right">
                [Bookmark this <a href="{{ url('job.preview', {token: job.token}) }}">URL</a> to manage this job in the future]
            </p>
        </div>
    </div>
</nav>
