{% extends 'base.html.twig' %}

{% block body %}
    {% if hasControlAccess is defined and hasControlAccess %}
        {% include 'job/control_panel.html.twig' with {'job': job, 'deleteForm': deleteForm, 'publishForm': publishForm} %}
    {% endif %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Job</h1>

    <div class="media" style="margin-top: 60px;">
        {% if job.logo %}
            <div class="media-left">
                <a href="{{ job.url }}" target="_blank">
                    <img class="media-object" style="width:100px; height:100px;" src="{{ asset(jobs_uploads_web_directory ~ '/' ~ job.logo.filename) }}">
                </a>
            </div>
        {% endif %}

        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="media-heading"><strong>{{ job.company }}</strong> <i>({{ job.location }})</i></h3>
                </div>

                <div class="col-sm-2">
                    <i class="pull-right">posted on {{ job.createdat|date('m/d/Y') }}</i>
                </div>
            </div>

            <p>
                <strong>{{ job.position }}</strong>
                <small> - <i>{{ job.type }}</i></small>
            </p>

            <p>{{ job.description|nl2br }}</p>

            <p style="margin-top: 40px;">
                <strong>How to apply?</strong>
            </p>

            <p>{{ job.howToApply }}</p>

            <div class="row">
                <div class="col-sm-12 text-right">
                    <a class="btn btn-default" href="{{ path('job.list') }}">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        Back to list
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}