<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}Jobeet - Admin{% endblock %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('admin.category.list') }}">Jobeet Admin</a>
                    <p class="navbar-text navbar-right">{{ app.user.userIdentifier }}</p>
                    <a class="btn button-default navbar-btn navbar-right" href="{{ path('logout') }}">Log out</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    {% set currentRouteName = app.request.get('_route') %}

                    <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
                        <li role="presentation" {% if currentRouteName starts with 'admin.category.' %}class="active"{% endif %}>
                            <a href="{{ path('admin.category.list') }}">Categories</a>
                        </li>

                        <li role="presentation" {% if currentRouteName starts with 'admin.job.' %}class="active"{% endif %}>
                            <a href="{{ path('admin.job.list') }}">Jobs</a>
                        </li>

                        <li role="presentation" {% if currentRouteName starts with 'admin.affiliate.' %}class="active"{% endif %}>
                            <a href="{{ path('admin.affiliate.list') }}">Affiliates</a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-10">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
