{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>Create new category</h1>

    {% include 'admin/category/form.html.twig' with {'form': form} only %}

    <a href="{{ path('admin.category.list') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        back to list
    </a>
{% endblock %}