<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{{ 'Jobeet - Your best job board'|trans }}{% endblock %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        {% block stylesheets %}{% endblock %}

        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('job.list') }}">{{ 'Jobeet'|trans }}</a>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <p class="navbar-text">{{ app.user.userIdentifier }}</p>
                        <a class="btn button-default navbar-btn navbar-right" href="{{ path('logout') }}">{{ 'Log out'|trans }}</a>
                    {% else %}
                        <a class="btn button-default navbar-btn navbar-right" href="{{ path('login') }}">{{ 'Log in'|trans }}</a>
                    {% endif %}
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="margin-right: 10px">
                            <div>
                                <a href="{{ path('affiliate.create') }}" class="btn btn-default navbar-btn">{{ 'Affiliates'|trans }}</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="{{ path('job.create') }}" class="btn btn-default navbar-btn">{{ 'Post a Job'|trans }}</a>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.request.locale|upper }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for locale in locales %}
                                    <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}">
                                            {{ locale|upper }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
